*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
    color: rgb(238, 197, 121);
}
a:hover{
    color: white;
}
input::placeholder{
    background: transparent;
    color: white;
}

/* body styling before and after */
body{
    background: linear-gradient(rgb(228, 148, 148),purple,navy);
    position: relative;
    overflow: hidden;
    transition: 3s all ease-in-out;
}
body::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 150%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.438);
    transform: rotate(490deg);
    z-index: 1;
}

#signup{
    transition: 3s all ease;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#signup .under-sign{
    z-index: 2;
    padding: 10px;
    margin: 10px;
    width: 490px;
    line-height: 3;
    box-shadow:2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}
#signup .head{
    display: flex;
    justify-content: space-around;
}

.head .logo img{
    margin: 10px;
    width: 50px;
    height: 50px;
}


.head h1{
    padding: 10px;
    font-size: 27px;
    color: white;
}

/* form styling here all the sheets can be found */

.under-sign form{
    padding: 10px;
}
.under-sign form input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 247, 247);
    width: 45%;
    padding: 10px;
    margin: 5px;
    background: transparent;
}



.under-sign form  .sernames{
    display: flex;
    flex-direction: column;
    position: relative;
}
.under-sign form .sernames .at{
  position: absolute;
  right: 20px;
  bottom: 46px;
  font-weight: normal;
}
.under-sign form  .sernames input{
    width: 100%;
    height: 30px;
}

/* instead and submit btn */
.instead{
    justify-content: space-around;
    margin: 10px;
    position: relative;
}

.instead input[type=submit]{
    position: absolute;
    right: 0;
    background: rgb(8, 8, 92);
    color: white;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(185, 184, 184, 0.329);
}
.instead input[type=submit]:hover{
    outline: 1px solid rgb(27, 27, 231);
}


/* login or sign in form fixing style */

.login-form {
    justify-content: center;
    align-items: center;
}

.login-form input{
    text-align: center;
    width: 100px;
}
.login-form .name{
    margin-bottom: 20px;
}

.login-form .password{
    margin-top: 20px;
}

.head .login-h1{
    padding: 10px;
    font-size: 20px;
    color: white;
}


/* icons imgaes */
.icons {
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
}
.icons a, img{
    width: 50px;
    cursor: pointer;
    margin: 5px;
}